<!DOCTYPE HTML>
<html lang="en">
<body>
    <style>
        html {
            font-family: monospace;
        }

        a {
            font-weight: bold;
        }
        
        a:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .commits {
            border-collapse: separate;
            border-spacing: 10px 0;
        }
    </style>

    <script type="text/etlua" id="project-selector-template">
        github.com/<input type="text" name="user" value="<%= user or '' %>">/<input type="text" name="project" value="<%= project or '' %>">
        <select name="branches">
            <% for i, branch in ipairs(branches) do %>
                <option <%- (currentBranch == branch.name or currentBranch == branch.commit.sha) and 'selected="true"' or '' %> value="<%= branch.commit.sha %>">
                    <%= branch.name %> (<%= string.sub(branch.commit.sha, 1, 7)  %>)
                </option>
            <% end %>
        </select>
        <a id="go">go</a>
    </script>

    <script type="text/etlua" id="commits-template">
        <table class="commits">
            <% for i, commit in ipairs(commits) do %>
            <tr data-sha="<%= commit.commit.tree.sha %>">
                <td class="hash"><%= string.sub(commit.commit.tree.sha, 1, 7) %></td>
                <td class="date"><%= string.sub(commit.commit.committer.date, 1, 10) %></td>
                <td class="message"><%= string.sub(commit.commit.message, 1, 80) %></td>
                <td class="author"><a href="#/<%= commit.committer.login %>"><%= commit.commit.committer.name %></a></td>
            </tr>
            <% end %>
        </table>

        <div class="readme">
            <%- readme and js.global.md:toHTML(readme) or "" %>
        </div>
    </script>

    <script type="text/etlua" id="user-selector-template">
        github.com/<input type="text" name="user" value="<%= user or '' %>">
        <a id="go">go</a>
    </script>

    <script type="text/etlua" id="repos-template">
        <ul class="repos">
            <% for i, repo in ipairs(repos) do %>
            <li><a href="#/<%= repo.full_name %>"><%= repo.name %></a></li>
            <% end %>
        </ul>
    </script>

    <div id="app">
        <div id="project-selector"></div>
        <div id="commits"></div>
    </div>

    <script src="../dist/moonhub.min.js" type="text/javascript"></script>
</body>
</html>
