<!DOCTYPE HTML>
<html lang="en">
<body>
    <style>
        html {
            font-family: monospace;
        }

        a {
            font-weight: bold;
        }
        
        a:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .commits {
            border-collapse: separate;
            border-spacing: 10px 0;
        }
    </style>

    <script type="text/lustache" id="commits-template">
        <table class="commits">
            <% for i, commit in ipairs(commits) do %>
            <tr data-sha="<%= commit.commit.tree.sha %>">
                <td class="hash"><%= string.sub(commit.commit.tree.sha, 1, 7) %></td>
                <td class="date"><%= commit.commit.committer.date %></td>
                <td class="message"><%= string.sub(commit.commit.message, 1, 80) %></td>
                <td class="author"><%= commit.commit.committer.name %></td>
            </tr>
            <% end %>
        </table>
    </script>

    <div id="app">
    </div>

    <script src="../dist/moonhub.min.js" type="text/javascript"></script>
</body>
</html>
